/node_modules
/public/hot
/public/css/*addons
/public/js/*addons
/public/addons
/public/css/mdb*
/public/js/modules
/public/js/mdb*
/public/images/
/public/uploads/*
/public/music/*
/public/videos/*
/public/storage
/public/music/*
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
.env